html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	width: 70%;
	height: 70%;
	margin: auto;
}

.bold {
	font-weight: bold;
}

.owm-layercontrol-header {
	font-size: larger;
	font-weight: bold;
	display: block;
	position: relative;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
}