html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	width: 93.3%;
	height: 70%;
	margin: auto;
}

.bold {
	font-weight: bold;
}

.owm-layercontrol-header {
	font-size: larger;
	font-weight: bold;
	display: block;
	position: relative;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
div.item {
	padding-top: 20px;
	margin-left: 9px;
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 200px;
}
img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}